[submodule "DCTGravatar"]
	path = DCTGravatar
	url = git://github.com/danielctull/DCTGravatar.git
[submodule "DCTConnectionController"]
	path = DCTConnectionController
	url = git://github.com/danielctull/DCTConnectionController.git
[submodule "DCTFoundation"]
	path = DCTFoundation
	url = git://github.com/danielctull/DCTFoundation.git
